.hero-section{

    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}

.hero-image-container{

    position: relative;
    width: 100%;
    height: 50%;

}

.hero-image{

    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    right: 0;
}

.hero-name{

    --border-width: 3px;
    position: absolute;
    font-size: 10rem;
    font-weight: 800;
    font-family: "Newsreader", serif;
    pointer-events: none;
    text-shadow: 
      calc(var(--border-width) * -1) calc(var(--border-width) * -1) 0 #000,  
      var(--border-width) calc(var(--border-width) * -1) 0 #000,
      calc(var(--border-width) * -1) var(--border-width) 0 #000,
      var(--border-width) var(--border-width) 0 #000;
}

.ramiro{
    left: var(--space-xxl);
    bottom: var(--space-xxl);
}

.ventura{

    right: var(--space-xxl);
    top: var(--space-xxl);
}







.about-me-container{

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    padding: var(--space-m);
    opacity: 0;
}

.about-me-texts-container{

    position: relative;
    height: 100%;
    overflow: hidden;
}

.about-me-text-container{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-m);
    opacity: 0;
    padding: var(--space-xl);
    scale: 0;
    overflow: hidden; /* ← adiciona isto */
}

.about-me-title{

    font-size: 3rem;
}

.about-me-text {

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.about-me-text p{
    
    font-size: 1.2rem;
    font-weight: 300;
}

.about-me-text b {

    font-weight: 800;
}

.about-me-images-container{

    position: relative;
    height: 100%;
    
}

.about-me-image-wrapper {

    position: absolute;
    width: 80%;
    aspect-ratio: 1 / 1.195;
    top: 50%;
    left: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--text-color);
    padding: var(--space-m);
    padding-bottom: 0 !important;
    z-index: 1;
    box-shadow: 10px 10px 10px 10px rgba(20, 20, 20, 0.1);
}

.about-me-images-picture{

    width: 100%;
    height: fit-content;
    aspect-ratio: 1 / 1;
}

.about-me-image {

    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
}

.about-me-image-text{

    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.7rem;
    margin: auto;
    font-family: "Permanent Marker", cursive;
}






.work-section {

    position: relative;
    perspective: 800px;
    perspective-origin: center 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.work-word{

    transform-origin: center bottom;
    transform-style: preserve-3d;
    will-change: transform;

    width: 100%; 
    height: 100%; 
    padding: 0 var(--space-xxl); 
}

.work-word-text{

    fill: var(--text-color);
    paint-order: stroke;
    stroke: var(--primary-color);
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;

}

.work-project-container{

    position: absolute;
    border-radius: var(--radius-l);
    inset: var(--space-l);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(110%);
    overflow: hidden;
    will-change: transform;
}

.work-project-image-picture{

    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--text-color);
    border-radius: var(--radius-m);
}

.work-project-image{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.work-project-container-overlay{

    position: absolute;
    inset: 0;
    background: linear-gradient(15deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: baseline;
    justify-content: end;
    flex-direction: column;
    padding: var(--space-xl);
}

.work-project-container-overlay-title{

    font-size: 5rem;
    font-weight: 800;
}





.contacts-section {

    min-height: 100vh;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: var(--space-xl);
    background-color: var(--primary-color);

}

.contacts-title{

    position: relative;
    transform: translateY(-100%);
    top: 50%;
    opacity: 0;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

.contacts-containers-wraper{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-l);
    scale: 0;
    opacity: 0;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: var(--space-l);
}

.container-magnetic-object{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-l);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--text-color);
    z-index: 2;
    transform: translateX(-200%);
    opacity: 0;
}

.container-magnetic-object:hover{

    z-index: 3;
}

.contact-text{

    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    transform-origin: bottom;
    transform: rotateX(90deg);
    opacity: 0;
}

.contact-text-underline{

    width: 0;
    height: 4px;
    background-color: var(--text-color);
}

.contact-value{

    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
}

.char{

    display: inline-block;
}



.footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35vh;
    background-color: var(--text-color);
    z-index: -1;
    padding: var(--space-l);
}

.footer p{

    color: var(--primary-color);
}

.footer-name{
    font-size: 6rem;
    font-weight: 900;
}

.footer-made{

    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}




.menu-btn{

    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    top: var(--space-ml);
    right: var(--space-ml);
    z-index: 6;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-btn-stroke{

    position: relative;
    width: 35px;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
}

.menu-container{

    display: none;
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.menu-animation-container{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-animation-columns-container{

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.menu-animation-column{

    width: 16.66666%;
    height: 100%;
    background-color: var(--text-color);
}

.menu-animation-column-top{

    transform: translateY(-100%);
}

.menu-animation-column-bottom{

    transform: translateY(100%);
}

.menu-content-container{

    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 5;
    padding: var(--space-l);
    align-items: start;
    justify-content: center;
    gap: var(--space-l);
}

.menu-links{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
    color: var(--primary-color);
    margin-left: var(--space-l);
}

.menu-links-icon{

    height: 0;
    stroke: var(--primary-color);
    transform-origin: center left;
    transition: var(--time-l);
    object-fit: contain;
}

.menu-links:hover > .menu-links-icon{

    height: 5rem;
}

.menu-links p{

    line-height: 1;
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 900;
}




.follower{

    border-radius: 20px;
    background-color: white;
    transition: width .4s, height .4s, margin-left .4s, margin-top .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    z-index: 7;
}

.follower-hover{

    mix-blend-mode: normal;
    background-color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.follower-hover::after{

    content: 'VIEW';
    color: black;
    font-weight: 700;
    transition: 0.3s;

}

.follower-hero-image{

    mix-blend-mode: normal;
    background-color: var(--text-color);
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.follower-hero-image::after{

    content: 'SCROLL';
    color: black;
    font-weight: 400;
    transition: 0.3s;
}

.follower-contact-wrapper{

    mix-blend-mode: normal;
    background-color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.follower-contact-wrapper > p{

    color: black;
    font-weight: 500;
    transition: 0.3s;

}


@media (width < 1400px) {

    .hero-name{

        font-size: 8rem;
    }





    .about-me-title{

        font-size: 2.7rem;
    }

    .about-me-text {

        gap: var(--space-ml);
    }

    .about-me-text p{
        
        font-size: 1.05rem;
    }

    .about-me-image-text{

        font-size: 1.4rem;
    }




    .work-project-container-overlay-title{

        font-size: 4rem;
        font-weight: 800;
    }





    .contacts-section{

        padding: var(--space-l);
    }

    .contacts-containers-wraper, .contact-container{

        gap: var(--space-ml);
    }

    .contact-magnetic-object-image{

        width: 100%;
        height: 100%;
    }

    .contact-text{

        font-size: 3rem;
        font-weight: 700;
    }

    .contact-text-underline{

        height: 2px;
    }

    .contact-value{

        font-size: 1.5rem;
    }






    .footer-name{
        font-size: 4.5rem;
        font-weight: 800;
    }

    .footer-made{

        font-size: 1.2rem;
    }


}

@media (width < 1200px) {
    
    .hero-name{

        font-size: 7rem;
    }




    .about-me-title{

        font-size: 2rem;
    }

    .about-me-text-container{

        padding: var(--space-m);
    }

    .about-me-text p{
        
        font-size: 1rem;
    }
    
    .about-me-image-text{

        font-size: 1.2rem;
    }




    .work-project-container{

        border-radius: var(--radius-ml);
        inset: var(--space-ml);
    }

    .work-project-container-overlay{

        padding: var(--space-l);
    }

    .work-project-container-overlay-title{

        font-size: 4rem;
        font-weight: 700;
    }





    .footer-name{

        font-size: 3.5rem;
        font-weight: 800;
    }

    .footer-made{

        font-size: 1.1rem;
        font-weight: 400;
    }

}

@media (width < 992px){

    .hero-name{

        font-size: 6rem;
    }



    .about-me-texts-container{

        height: 60%;
    }

    .about-me-text-container{

        padding: var(--space-s);
    }

    .about-me-images-container{

        height: 40%;
        
    }

    .about-me-image-wrapper{

        height: 80%;
        width: auto;
        padding: var(--space-sm);
    }




    .contacts-title{

        font-size: 4rem;
        font-weight: 700;
        
    }

    .contacts-containers-wraper, .contact-container {
        gap: var(--space-m);
    }
    
    .contact-container{

        flex-direction: column;
    }

    .container-magnetic-object{

        padding: var(--space-ml);
    }

    .contact-magnetic-object-image {
        width: 55px;
        height: 55px;
    }

    .contact-text{

        font-size: 2.5rem;
    }

    .contact-text-underline{

        height: 2px;
    }

    .contact-value{

        font-size: 1.2rem;
    }





    .footer{

        padding: var(--space-m);
    }

    .footer-name{

        font-size: 2.5rem;
        font-weight: 700;
    }

    .footer-made{

        font-size: 1rem;
    }




    .menu-links{

        margin-left: var(--space-m);
    }

    .menu-links:hover > .menu-links-icon{

        height: 4rem;
    }

    .menu-links p{

        font-size: 4rem;
        font-weight: 900;
    }


}

@media (width < 768px){

    .hero-name{
        font-size: 5rem;
        font-weight: 600;
    }

    .ramiro{
        left: var(--space-l);
        bottom: var(--space-ml);
    }

    .ventura{

        right: var(--space-l);
        top: var(--space-ml);
    }






    .about-me-text-container{

        gap: var(--space-sm);
    }

    .about-me-title{

        font-size: 1.5rem;
    }

    .about-me-text p{
        
        font-size: 0.9rem;
    }

    .about-me-image-text{

        font-size: 1.1rem;
    }



    .work-word{

        height: auto;
        aspect-ratio: 1 / 1;
    }
    
    .work-project-container{

        border-radius: var(--radius-m);
        inset: var(--space-m);
    }

    .work-project-container-overlay{

        padding: var(--space-ml);
    }

    .work-project-container-overlay-title{

        font-size: 3rem;
    }

    .work-project-container-overlay-text{

        font-size: 0.9rem;
    }




    .contacts-section{

        padding: var(--space-m);
    }



    

    .footer-name{

        font-size: 2.2rem;
        font-weight: 600;
    }

    .footer-made{

        font-size: 0.9rem;

    }
    



    .menu-btn{

        width: 50px;
        height: 50px;
        top: var(--space-s);
        right: var(--space-s);
    }

    .menu-btn-stroke{

        width: 25px;
        height: 3px;
    }

    .menu-links{
        margin-left: var(--space-s);
    }

    .menu-links:hover > .menu-links-icon{

        height: 3rem;
    }

    .menu-links p{

        font-size: 3rem;
    }

}

@media (width < 576px){

    .hero-name{
        font-size: 4rem;
        font-weight: 700;
    }

    .ramiro{
        left: var(--space-m);
        bottom: var(--space-m);
    }

    .ventura{

        right: var(--space-m);
        top: var(--space-m);
    }




    .about-me-container{

        padding: 0;
    }
    
    .about-me-text-container{

        gap: var(--space-s);
        padding: var(--space-s);
    }

    .about-me-title{

        font-size: 1.2rem;
    }

    .about-me-text p{

        font-size: 0.85rem;
    }

    .about-me-image-text{

        font-size: 0.9rem;
    }

    .about-me-image-wrapper {
    
        padding: var(--space-s);
    }




    .work-project-container{

        border-radius: var(--radius-s);
        inset: var(--space-s);
    }

    .work-project-container-overlay{

        padding: var(--space-m);
    }

    .work-project-container-overlay-title{

        font-size: 2rem;
    }

    .work-project-container-overlay-text{

        font-size: 0.85rem;
        font-weight: 400;
    }




    .contacts-title{

        font-size: 3.5rem;
    }

    .contacts-containers-wraper{

        gap: var(--space-l);
    }





    .menu-content-container {
        padding: var(--space-s);
    }

    .menu-links{

        gap: var(--space-s);
    }

    .menu-links:hover > .menu-links-icon{

        height: 2.5rem;
    }

    .menu-links p{

        font-size: 2.5rem;
    }

}

@media (width < 425px){


    .hero-name{
        font-size: 4rem;
        font-weight: 600;
    }
    .ramiro{
        left: var(--space-m);
        bottom: var(--space-m);
    }

    .ventura{

        right: var(--space-m);
        top: var(--space-m);
    }





    .about-me-title{

        font-size: 1.3rem;
    }

    .about-me-container{

        padding: var(--space-xs);
    }





    .contacts-title{

        font-size: 2.5rem;
    }

    .contact-text{

        font-size: 1.5rem;
    }

    .contact-value{

        font-size: 1rem;
    }
}