.content {
  position: relative;
  z-index: 1; /* Ensures content is on top */
}

.hero-section{

    position: relative;
    width: 100%;
    height: 100dvh;
}


.hero-image-container{

    position: relative;
    width: 100%;
    height: 50%;

}

.hero-image{

    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    right: 0;
}

.hero-name{

    position: absolute;
    font-size: 10rem;
    font-weight: 800;
    font-family: "Newsreader", serif;
    /*top: 50%;
    transform: translateY(-50%);*/
}

.ramiro{
    left: var(--space-xxl);
    bottom: var(--space-xxl);
}

.ventura{

    right: var(--space-xxl);
    top: var(--space-xxl);
}







.about-me-container{

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    padding: var(--space-m);
}

.about-me-texts-container{

    position: relative;
    height: 100%;
    overflow: hidden;
}

.about-me-text-container{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-m);
    opacity: 0;
    padding: var(--space-xl);
    scale: 0;
}

.about-me-title{

    font-size: 3rem;
}

.about-me-text{

    font-size: 1.2rem;
}

.about-me-images-container{

    position: relative;
    height: 100%;
    
}

.about-me-image-wrapper {

    position: absolute;
    width: 80%;
    aspect-ratio: 1 / 1.195;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--text-color);
    padding: var(--space-m);
    z-index: 1;
    box-shadow: 10px 10px 10px 10px rgba(20, 20, 20, 0.1);
}

.about-me-image {

    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
}

.about-me-image-text{

    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.7rem;
    margin: auto;
    font-family: "Permanent Marker", cursive;
}


.work-section {

    position: relative;
    perspective: 800px;
    perspective-origin: center 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work-word{

    transform-origin: center bottom;
    transform-style: preserve-3d;
    will-change: transform;

    width: 100%; 
    height: 100%; 
    padding: 0 var(--space-xxl); 
}

.work-project-container{

    position: absolute;
    border-radius: var(--radius-l);
    inset: var(--space-l);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(110%);
    overflow: hidden;
}

.work-project-container-overlay{

    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: baseline;
    justify-content: end;
    flex-direction: column;
    padding: var(--space-xl);
}

.work-project-container-overlay-title{

    font-size: 5rem;
    font-weight: 800;
}

.work-project-complex{

    background-image: url("/new-portfolio/assets/complex_photo_full.png");
}


.work-project-afterlink{

    background-image: url("/new-portfolio/assets/afterlink_photo_full.png");
}


.work-project-easyqrcode{

    background-image: url("/new-portfolio/assets/easyqrcode_photo_full.png");
}


.work-project-wavetunes{

    background-image: url("/new-portfolio/assets/wavetunes_screenshot_full.png");
}


.work-project-coloris{

    background-image: url("/new-portfolio/assets/coloris_photo_full.png");
}



.follower{

    border-radius: 20px;
    background-color: white;
    transition: width .4s, height .4s, margin-left .4s, margin-top .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
}

.follower-hover{

    mix-blend-mode: normal;
    background-color: white;
}

.follower-hover::after{

    content: 'VIEW';
    color: black;
    font-weight: 700;
    transition: 0.3s;

}


@media (width < 1024px){

    .hero-name{
        font-size: 7rem;
    }

    .about-me-text-container{

        padding: var(--space-l);
    }


    .about-me-title{

        font-size: 2.5rem;
    }

    .about-me-text{

        font-size: 1.1rem;
    }
}

@media (width < 992px){

    .hero-name{
        font-size: 6rem;
    }




    .about-me-text-container{

        padding: var(--space-m);
    }

    .about-me-title{

        font-size: 2rem;
    }

    .about-me-text{

        font-size: 1rem;
    }
}

@media (width < 768px){

    .hero-name{
        font-size: 5rem;
        font-weight: 700;
    }
    .ramiro{
        left: var(--space-xl);
        bottom: var(--space-l);
    }

    .ventura{

        right: var(--space-xl);
        top: var(--space-l);
    }




    .about-me-texts-container{

        height: 50%;
        gap: var(--space-s);
    }

    .about-me-text-container{

        padding: var(--space-s);
    }

    .about-me-title{

        font-size: 1.8rem;
    }

    .about-me-text{

        font-size: 0.95rem;
    }

    .about-me-images-container{

        height: 50%;
    }



    .work-word{

        height: auto;
        aspect-ratio: 1 / 1;
    }

}

@media (width < 576px){

    .hero-name{
        font-size: 4rem;
        font-weight: 700;
    }
    .ramiro{
        left: var(--space-l);
        bottom: var(--space-l);
    }

    .ventura{

        right: var(--space-l);
        top: var(--space-l);
    }




    .about-me-container{

        padding: var(--space-s);
    }

    .about-me-title{

        font-size: 1.5rem;
    }

    .about-me-text{

        font-size: 0.9rem;
    }



}

@media (width < 425px){


    .hero-name{
        font-size: 4rem;
        font-weight: 600;
    }
    .ramiro{
        left: var(--space-m);
        bottom: var(--space-m);
    }

    .ventura{

        right: var(--space-m);
        top: var(--space-m);
    }

    .about-me-title{

        font-size: 1.3rem;
    }


    .about-me-container{

        padding: var(--space-xs);
    }
}
