*{
    color: var(--primary-color);
}





body{

    background-color: var(--text-color);
}





.work-section {

    position: relative;
    background-color: var(--text-color);
}

.work-project-container{

    position: absolute;
    border-radius: var(--radius-l);
    inset: var(--space-l);
    background-image: url("/new-portfolio/assets/wavetunes_screenshot.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.project-image-overlay{

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--space-sm);
    padding: var(--space-xl);
    transition: var(--time-xl);
}

.project-image-overlay:hover{

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.project-image-button{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    padding: var(--space-sm);
    gap: var(--space-s);
    perspective: 800px;
    background-color: var(--primary-color);
}

.project-image-button p{

    color: var(--text-color);
    font-weight: 800;
    font-size: 1.5rem;
}

.description-section{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: var(--space-xl);
    gap: var(--space-m);
    background-color: var(--text-color);
}

.project-name{

    position: relative;
    transform: translateY(-100%);
    top: 50%;
    opacity: 0;
    font-size: 5rem;
    font-weight: 900;
}

.project-description{

    opacity: 0;
}





.tools-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
}

.tools-section-title{

    font-size: 5rem;
    font-weight: 900;
}





.footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35dvh;
    background-color: var(--primary-color);
    border-radius: var(--space-l) var(--space-l) 0 0;
    corner-shape: round;
    z-index: -1;
    padding: var(--space-l);
}

.footer p{

    color: var(--text-color);
}

.footer-name{
    font-size: 6rem;
    font-weight: 900;
}

.footer-made{

    font-size: 1.5rem;
    font-weight: 400;
}





.follower{

    border-radius: 20px;
    background-color: white;
    transition: width .4s, height .4s, margin-left .4s, margin-top .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    z-index: 7;
}





@media (width < 1024px){

}

@media (width < 992px){

}

@media (width < 768px){

}

@media (width < 576px){

}

@media (width < 425px){

}
